body {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, Helvetica Neue;
  font-size: 18px;
  overflow-x: hidden;
  width: 100%;
  min-width: 320px;
}

* {
  box-sizing: border-box;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #222;
}

li {
  list-style: none;
}
img {
  max-width: 100%;
}
a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}
